# Distribution / packaging
.Python

env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
.vscode
__pycache__/

# Serverless directories
.serverless

__pycache__
node_modules
serverless_sdk
services/api_scraper/s_createProduct.py
services/api_scraper/ah/data
services/api_scraper/coop/data
services/api_scraper/dirk/data
services/api_scraper/jumbo/data
services/api_scraper/picnic/data

dbt-env